.destaqueContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.destaqueImg{
    width: 90%;
    height: 400px;
    margin-top: 30px;
    border-radius: 40px;
    opacity: 0.95;
   
    
}
